.dialog-container {
 width:482px;
 padding:35px 5px;
 position:fixed;
 top:50%;
 left:50%;
 margin-left:-236px;
 background-color:#fff;
 border-radius:1px;
 box-shadow:0 0 53px rgba(0,0,0,.15);
 z-index:100;
 display:none
}
.dialog-title {
 margin:10px;
 font-size:21px;
 color:#333;
 text-align:center
}
.dialog-sub-title {
 text-align:center;
 font-size:16px;
 margin-top:-4px
}
.dialog-container .icon {
 display:inline-block;
 width:36px;
 height:36px;
 margin-right:5px;
 background:url(https://shopstatic.vivo.com.cn/vivoshop/web/dist/js/common/dialog/icons_25a6562.png) 0 0 no-repeat;
 vertical-align:middle;
 margin-bottom:4px
}
.dialog-container .icon-close {
 position:absolute;
 right:10px;
 top:10px;
 margin-right:0;
 width:25px;
 height:25px;
 background:0 0;
 cursor:pointer
}
.dialog-container .icon-close:before {
 position:absolute;
 top:50%;
 left:0;
 content:'';
 width:100%;
 height:1px;
 background:#a3a3a3;
 transform:rotate(45deg);
 transform-origin:center;
 -ms-transform:rotate(45deg);
 -ms-transform-origin:center
}
.dialog-container .icon-close:hover:before {
 background:#53a7e0
}
.dialog-container .icon-close:after {
 position:absolute;
 top:50%;
 left:0;
 content:'';
 width:100%;
 height:1px;
 background:#a3a3a3;
 transform:rotate(-45deg);
 transform-origin:center;
 -ms-transform:rotate(-45deg);
 -ms-transform-origin:center
}
.dialog-container .icon-close:hover:after {
 background:#53a7e0
}
.info-tip img {
 vertical-align:text-bottom
}
.dialog-title .icon-warning {
 background-position:0 0
}
.dialog-title .icon-success {
 background-position:0 -57px
}
.dialog-content {
 text-align:center
}
.dialog-content>p {
 font-size:14px;
 color:#585858;
 line-height:2;
 padding:0 0 10px;
 text-align:center
}
.dialog-content .dialog-tip {
 display:inline-block;
 padding:15px 20px;
 text-align:left;
 word-break:break-word
}
.dialog-form-item {
 padding:10px 5px;
 text-align:left
}
.vcoins .dialog-form-item {
 text-align:center
}
.dialog-form-item>label {
 display:inline-block;
 text-align:right;
 width:110px;
 font-size:14px;
 color:#585858;
 margin-right:10px
}
.dialog-form-item input[type=text],
.dialog-form-item select {
 width:258px;
 height:30px;
 padding:2px 6px;
 border:1px solid #ccc;
 border-radius:2px
}
.dialog-form-item select {
 width:272px;
 height:36px
}
.dialog-form-item input[type=text].error {
 border-color:red
}
.dialog-form-item span {
 display:inline-block;
 margin-left:120px
}
.dialog-form-item .error-tip {
 display:none;
 margin-left:10px;
 font-size:14px;
 color:#969696
}
.dialog-form-item .error .error-tip {
 display:inline-block
}
.dialog-form .error input[type=text] {
 border-color:#f04141
}
.dialog-content .comment {
 font-size:14px;
 color:#969696;
 text-align:center
}
.dialog-container .btn {
 width:158px;
 height:40px;
 margin-top:15px;
 margin-bottom:10px;
 border-radius:27px;
 font-size:16px
}
.dialog-container .btn-cancel {
 margin-left:30px;
 background:#fff;
 color:gray;
 border-color:#e6e6e6
}
.dialog-container .btn-cancel:hover {
 color:#a6a6a6
}
.dialog-container .error {
 color:red
}
.dialog-container span.error-style {
 color:red
}
#j_ReginContriner>span {
 position:relative;
 display:block
}
#j_ReginContriner .spec-err {
 position:absolute;
 left:0;
 top:44px;
 display:block;
 width:530px
}
#j_ReginContriner .spec-err span {
 display:inline-block;
 width:102px;
 margin-right:15px
}
.panelWrap input.error-style {
 font-size:14px
}
.prize input.full,
.appointment input.full {
 width:403px
}
.prize .dialog-form-item,
.appointment .dialog-form-item {
 width:417px;
 margin:0 auto;
 text-align:left
}
.prize .half-wrapper,
.appointment .half-wrapper {
 float:left;
 width:45%
}
.prize .half-right,
.appointment .half-right {
 margin-left:10%
}
.prize .half-wrapper input,
.appointment .half-wrapper input {
 width:92%
}
.prize .dialog-form-item span,
.appointment .dialog-form-item span {
 display:inline-block;
 margin-left:0
}
